TF_Content: |-
  #!/bin/sh

  terraform init
  terraform apply --auto-approve

  lllllll
TF_Repo:
  key: Voter-ui-Roost-app
  title: Priyanshii677/Voter-ui-Roost-app
  owner: Priyanshii677
  default_branch: main
  id: 517294031
TF_Branch: main
TF_Git_path: ''
TF_Uninstall: |-
  #!/bin/sh

  terraform destroy
app_dependencies:
  type: text
  content: |-
    #!/bin/sh


    kkk
    change
    pp





    ppppppppppp
    # make all
    # docker build
app_deploy:
  type: text
  content: |+
    #/bin/sh
    <<'###'
    Sample Deploy Instructions
    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###

app_test:
  - name: ''
    configType: artillery
    configPath: Priyanshii677/Voter-ui-Roost-app/
app_uninstall:
  type: text
  content: |+
    #!/bin/sh

build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
deploy:
  type: text
  content: |+
    #/bin/sh
    <<'###'
    Sample Deploy Instructions

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###

test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Priyanshi Somani
lastUpdatedOn: 2022-09-06T18:48:18.020Z
