build:
  type: text
  content: |+
    #!/bin/sh
    # make all

    # hello 1
    # docker run cmd
    # docker build



deploy:
  type: text
  content: >+
    #/bin/sh

    <<'###'

    docker run

    Sample Deploy Instructions


    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"




    helm install <helm-folder> -n <ns> $HELM_OPTS


    # helm install



    kubectl apply -f <file>.yaml

    ###


test: []
lastUpdatedBy: Priyanshi Somani
lastUpdatedOn: 2022-07-27T15:48:00.154Z
