build:
  type: text
  content: |+
    first
    name is priyanshi

    and 

    last name is

deploy:
  type: text
  content: >+
    #/bin/sh

    <<'###'

    docker run

    Sample Deploy Instructions


    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"




    helm install <helm-folder> -n <ns> $HELM_OPTS


    # helm install


    # helm run





    kubectl apply -f <file>.yaml

    ###


test: []
lastUpdatedBy: Priyanshi Somani
lastUpdatedOn: 2022-07-30T15:27:13.281Z
