build:
  type: text
  content: first
deploy:
  type: text
  content: >+
    #/bin/sh

    <<'###'

    Sample Deploy Instructions


    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"




    helm install <helm-folder> -n <ns> $HELM_OPTS


    # helm install


    # helm run





    kubectl apply -f <file>.yaml

    ###


test: []
app_dependencies:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
app_deploy:
  type: text
  content: >+
    #/bin/sh

    <<'###'

    Sample Deploy Instructions

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"


    helm install <helm-folder> -n <ns> $HELM_OPTS


    kubectl apply -f <file>.yaml

    ###

app_test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Priyanshi Somani
lastUpdatedOn: 2022-08-03T04:39:01.883Z
