build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
deploy:
  type: text
  content: |+
    #/bin/sh
    <<'###'
    Sample Deploy Instructions

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###

test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

pulumi_content: pulumi check
pulumi_git_path: .roost
pulumi_uninstall: |-
  #!/bin/sh
  pulumi destroy
CDK_Content: cdk checkb hnsjknm
CDK_Git_path: .roost
CDK_Uninstall: |-
  #!/bin/sh
  pulumi destroy
lastUpdatedBy: Priyanshi Somani
lastUpdatedOn: 2023-01-06T10:08:49.805Z
