app_dependencies:
  type: text
  content: |-
    #!/bin/sh


    kkk
    change
    pp


    pppp




    ppppppppppp
    # make all
    # docker build
app_deploy:
  type: text
  content: |+
    #/bin/sh
    <<'###'
    Sample Deploy Instructions
    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###

app_test:
  - name: ''
    configType: artillery
    configPath: Priyanshii677/Voter-ui-Roost-app/
app_uninstall:
  type: text
  content: |+
    #!/bin/sh

build:
  type: text
  content: |-
    #!/bin/sh

    voter ui



    77777777777
deploy:
  type: text
  content: '#!/bin/sh'
test: []
uninstall:
  type: text
  content: '#!/bin/sh'
lastUpdatedBy: Priyanshi Somani
lastUpdatedOn: 2022-09-22T06:53:03.031Z
